@import "./Utils/font.scss";
@import "./Utils/variables";
@import "./Utils/mixin";
@import "./Utils/keyframe";
@import "./Layouts/header";
@import "./Layouts/footer";
@import "./Base/base";
@import "./Components/buttons";
@import "./Layouts/container";
//////////////*********************-------------------------------------  LOAD SPINNER  -------------------------------------------***********************///////////////////////////////

.header-acceuil,
.main-acceuil,
.footer-acceuil,
.Explore{
  animation: 2s blur;
}

.spin {
  height: 50px;
  width: 50px;
  position: fixed;
  border: solid 5px;
  border-radius: 50%;
  border-bottom-color: $Color-Tertiaire;
  border-top-color: $Color-primary;
  border-left-color: $Color-secondary;
  border-right-color: rgba(255, 255, 255, 0);
  animation: 2s linear forwards spinner;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
