@font-face {
  font-family: Roboto;
  src: url(./Font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(./Font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Shrikhand;
  src: url(./Font/Shrikhand-Regular.otf);
}

/*****--------------------------MIXIN-VARIABLES-------------------------------***************/ /////

@mixin width-height-max {
  width: 100%;
  height: 100%;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin flex-between-column-aligncenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin Position-Size-Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  object-position: center bottom;
}

@mixin Attribut-size-bouton {
  position: absolute;
  height: 25px;
  width: 25px;
  padding: 0%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@mixin text-color-center {
  text-align: center;
  color: black;
}

@mixin size-border-btn {
  height: 25%;
  width: 87%;
  border-radius: 20px;
  box-shadow: 0px 2px 21px 1px rgb(128 128 128 / 43%);
  font-size: 19px;
}

@mixin Size-border-color-btn-principal {
  height: 50px;
  width: 68%;
  background-image: linear-gradient(to bottom, $Color-secondary, $Color-primary);
  border-radius: 30px;
  box-shadow: 0px 2px 21px 1px rgba(128, 128, 128, 0.425);
}

@mixin lien-btn-principal-size-font {
  @include width-height-max;
  @include flex-center;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

$Color-primary: #9356dc;
$Color-secondary: #ff79da;
$Color-Tertiaire: #99e2d0;

//***********-----------------------CSS GENERALES******************//////////////
* {
  font-family: Roboto;
}

html,
body {

  width: 100%;
  overflow-x: hidden;

}


h1,
h2,
h3,
h4 {
  font-family: Roboto-Bold;
  margin: 0%;
}

body {
  margin: 0%;
}
a {
  text-decoration: none;
}

//**********************------------------------------------------HEADER-------------------------------*********///////////////////
.contain-header {
  width: 100%;
  height: 45px;
  @include flex-center;
  padding-top: 5%;
  padding-bottom: 1%;
  box-shadow: 0px 1px 25px 1px rgba(0, 0, 0, 0.281);
  position: relative;
  .box-logo {
    width: 45%;
  }
  .logo-Header {
    @include width-height-max;
  }
}
.Contain-location {
  width: 100%;
  @include flex-center;
  background-color: rgba(128, 128, 128, 0.199);

  .info-location {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 30px;
    @include text-color-center;
  }
  .bloc-icone {
    @include flex-center;
    width: 7%;
    height: 100%;
  }
}

/////**********************************---------------------------CITATION ET BTN EXPLORE--------------------***************/////////////////////

.Explore-restaurant {
  height: 300px;
  width: 100%;

  .contain-explore {
    @include Flex-start;
    @include width-height-max;
    background-color: rgba(128, 128, 128, 0.137);
  }
}

.texte-explore {
  @include text-color-center;
  @include flex-center;
  flex-direction: column;
  width: 75%;
  margin-top: 35px;

  .Reservez-menu {
    margin: 0%;
  }

  .Decouvrez-restaurant {
    margin-bottom: 10%;
  }
}
.btn-principal {
  @include Size-border-color-btn-principal;
}

.lien-Explore-restaurant {
  @include lien-btn-principal-size-font;
}

///////////////////********************----------------------------FONCTIONNEMENT ET BTN----------------------************************/////////////////

.Fonctionnement-et-bouton {
  @include flex-between-column;
  height: 350px;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 15%;
}

.Titre-Fonctionnement {
  @include text-color-center;
  font-size: 16px;
  font-weight: bolder;
  margin: 0% 0% 5% 5%;
}

.contain-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.btn-Fonctionnement {
  @include size-border-btn;
  height: 27%;
  background-color: rgba(128, 128, 128, 0.11);
  position: relative;
  font-weight: bolder;

  &:active {
    background-color: #9256dc31;
  }
}

.btn-Fonctionnement:active #icone {
  color: #9356dc;
}

#icone {
  color: grey;
}

.lien-Choose-restaurant,
.lien-Composez-votre-menu,
.lien-Degustez-au-restaurant {
  @include width-height-max;
  @include flex-center;
  text-decoration: none;
  @include text-color-center;
}

.choise-number {
  @include flex-center;
  position: absolute;
  left: -4%;
  height: 36%;
  width: 8%;
  background-color: $Color-primary;
  border-radius: 50%;
  color: white;
  font-size: 15px;
}

.Contain-icone {
  width: 25%;
  @include flex-center;
}

.choose-restaurant {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

//****************************-----------------------------RESTAURANTS-------------------------*********************************//

.all-Restaurant {
  height: 1200px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.116);
}

.Titre-Restaurant {
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.all-Card {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card1,
.card2,
.card3,
.card4 {
  height: 23%;
  width: 87%;
  background-color: white;
  border-radius: 15px;
}

.box-Img {
  height: 73%;
}

.Titre-icone-restaurant {
  height: 27%;
  display: flex;
}

.Img-restaurant-1,
.Img-restaurant-3,
.Img-restaurant-4 {
  @include Position-Size-Image;
}

.Img-restaurant-2 {
  @include Position-Size-Image;
  object-position: 0px -165px;
}

.Nom-location-Restaurant {
  width: 69%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4%;
  text-decoration: none;
  color: black;

  .nom-restaurant {
    padding-bottom: 1.5%;
  }
}

/***********************************************************BTN j'aime*****************************/ //////////////////////////

.contain-Btn-love {
  width: 25%;
  position: relative;
}

.Heart-acceuil {
  @include Attribut-size-bouton;
  left: 46%;
  top: 29%;
}

#Icon-Heart {
  position: absolute;
  font-size: 25px;
  color: #9356dc;
  top: 0%;
  left: 0%;
}

#Icon-Heart-2 {
  position: absolute;
  font-size: 25px;
  color: #9356dc;
  top: 0%;
  left: 0%;
  visibility: hidden;
  transform: scale(0);
}

.Heart-acceuil:focus #Icon-Heart-2 {
  visibility: visible;
  transition: all 0.2s;
  transform: scale(1);
}

//*******************************------------------------------------FOOTER----------------------------***********************//////////////
footer {
  height: 200px;
  width: 100%;
  background-color: rgb(56, 56, 56);
}

.all-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin-left: 6%;
  padding-top: 6%;

  color: white;
}

.box-lien-footer {
  width: 100%;
}
.titre-footer-ohmyfood {
  font-family: Shrikhand;
  font-size: 20px;
  padding-bottom: 15%;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style-type: none;

  & li {
    margin: 2% 0% 2% 0%;

    & a {
      color: white;
      width: 100%;
    }
  }
}

.fa-utensils {
  margin-right: 4%;
}
.fa-handshake-angle {
  margin-right: 2.5%;
}

/////*******************************------------------------------------------Page des restaurant------------------------************************////////////////
.fleche-retour {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 4%;
}

.fa-arrow-left {
  color: black;
}
.size-Img-Entrée-plat-dessert {
  height: 1500px;
  width: 100%;
  position: relative;
}
.box-image-des-pages-restaurant {
  height: 25%;
  width: 100%;
  position: absolute;
  top: 0%;
}
.Img-pages-restaurant {
  @include Position-Size-Image;
  border-radius: 0%;
}

.Img-la-note-enchante {
  object-position: center;
}

.Titre-des-restaurant {
  font-family: Shrikhand;
}

.Entree-plat-dessert {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 20%;
  background-color: white;
  border-radius: 45px 45px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Titre-icone-pages-restaurant {
  display: flex;
  height: 10%;
  font-size: 20px;
  width: 100%;
  margin-left: 10%;
}

.Heart-page-restaurant {
  @include Attribut-size-bouton;
  left: 36%;
  top: 35%;
}
////////////////////////////*********************************------------------------------------BTN JAIME RESTAURANT--------------------------***************************////////////////
.Heart-page-restaurant:focus #Icon-Heart-2 {
  visibility: visible;
  transition: all 0.2s;
  transform: scale(1);
}

.Box-Titre-entrée-plat-desserts {
  text-transform: uppercase;
  height: 10%;
  width: 87%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 16px;
}

.titre-entree-plat-desserts {
  height: 87%;
  border-bottom: $Color-Tertiaire 3px solid;
  width: 11%;
}

.contain-btn-restaurant {
  @include flex-between-column-aligncenter;
  width: 100%;
  height: 25%;
  @keyframes transition {
    0% {
      margin-right: -210px;
      opacity: 0;
    }
    100% {
      margin-right: 0;
      opacity: 1;
    }
  }
  .btn-entree {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 1s;
  }
  .btn-plat {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 2s;
  }
  .btn-dessert {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 3s;
  }
}

.Margin-btn-restaurant {
  margin-top: 10%;
}

.btn-entrée-plat-dessert {
  @include size-border-btn;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 450ms;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 23px 10px rgb(128, 128, 128);
  
  }
   &:focus .valide {
    display: block;
    
  }

  &:focus .fa-circle-check {
    transform: rotate(0deg);
    transition: transform 1s;
  }
}

@keyframes slid {
  0% {
    margin-right: -70px;
    opacity: 0;
  }

  100% {
    margin-right: 0%;
    opacity: 1;
  }
  
}


.valide {
  background-color: $Color-Tertiaire;
  height: 100%;
  display: none;
  width: 22%;
  color: white;
  animation: slid 500ms ease-in-out forwards;
}

.icon-check {
  @include flex-center;
  @include width-height-max;

}

.fa-circle-check {
  font-size: 40px;
  transform: rotate(-360deg);

}

.Nom-du-plat {
  white-space: nowrap;
  text-align: left;
  padding-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentaire-plat {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix-plat {
  margin-right: 1%;
 }


.btn-commander {
  margin: 9% 0px 15% 0px;
  height: 53px;
  width: 48%;
}

.lien-btn-commander {
  @include lien-btn-principal-size-font;
}
