@import "./Utils/font.scss";
@import "./Utils/variables";
@import "./Utils/mixin";
@import "./Utils/keyframe";
@import "./Layouts/header";
@import "./Layouts/footer";
//***********-----------------------CSS GENERALES******************//////////////

* {
  font-family: Roboto;

}
html,
.body-acceuil {
  width: 100%;
  overflow-x: hidden;

}
h1,
h2,
h3,
h4 {
  font-family: Roboto-Bold;
  margin: 0%;
}
body {
  margin: 0%;
}
a {
  text-decoration: none;
}

/////**********************************---------------------------CITATION ET BTN EXPLORE--------------------***************/////////////////////

.Explore-restaurant {
  height: 300px;
  width: 100%;

  &_contain-explore {
    @include Flex-start;
    @include width-height-max;
    background-color: rgba(128, 128, 128, 0.137);
  }

  &_texte_all {
    @include text-color-center;
    @include flex-center;
    flex-direction: column;
    width: 75%;
    margin-top: 35px;
  }

  &_texte_titre {
    margin: 0%;
  }

  &_texte {
    margin-bottom: 10%;
  }

  &_btn-principal {
    @include Size-border-color-btn-principal;

    &:hover {
      box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
      background-image: linear-gradient(to bottom, $light-color-secondary, $light-color-primary);
    }
  }

  &_lien-btn {
    @include lien-btn-principal-size-font;
  }
}

///////////////////********************----------------------------FONCTIONNEMENT ET BTN----------------------************************/////////////////

.Fonctionnement-et-bouton {
  @include flex-between-column;
  height: 350px;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 15%;

  &_Titre {
    @include text-color-center;
    font-size: 16px;
    font-weight: bolder;
    margin: 0% 0% 5% 5%;
  }
}

.contain-3-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &_btn-Fonctionnement {
    @include size-border-btn;
    height: 27%;
    background-color: rgba(128, 128, 128, 0.11);
    position: relative;
    font-weight: bolder;

    &_btn-Fonctionnement:active #icone {
      color: #9356dc;
    }

    &:active {
      background-color: #9256dc31;
    }

    &:hover {
      box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
    }

    &:active .fa-solid {
      color: #9356dc;
    }
  }

  &_lien-Choose,
  &_lien-Compose,
  &_lien-Degustez {
    @include width-height-max;
    @include flex-center;
    text-decoration: none;
    @include text-color-center;
  }

  &_box_number {
    @include flex-center;
    position: absolute;
    left: -4%;
    height: 36%;
    width: 8%;
    background-color: $Color-primary;
    border-radius: 50%;
    color: white;
    font-size: 15px;
  }
  &_Contain-icone {
    width: 25%;
    @include flex-center;
    color: grey;
  }

  &_choose-restaurant {
    width: 75%;
    display: flex;
    justify-content: flex-start;
  }
}

//****************************-----------------------------RESTAURANTS-------------------------*********************************//

.all-Restaurant {
  height: 1200px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.116);

  &_Titre-Restaurant {
    height: 7%;
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
}

.all-Card {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &_card1,
  &_card2,
  &_card3,
  &_card4 {
    height: 23%;
    width: 87%;
    background-color: white;
    border-radius: 15px;

    &:hover {
      box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
    }
  }
}

.box-Img {
  height: 73%;

  &_Img-restaurant {
    @include Position-Size-Image;
  }

  &_Img-restaurant--modifier {
    @include Position-Size-Image;
    object-position: 0px -165px;
  }
}

.Titre-et-icone-restaurant {
  height: 27%;
  display: flex;

  &_Nom-location-Restaurant {
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4%;
    text-decoration: none;
    color: black;
  }
  &_nom-restaurant {
    padding-bottom: 1.5%;
  }
}

/***********************************************************BTN j'aime*****************************/ //////////////////////////

.contain-Btn-love {
  width: 25%;
  position: relative;
}
.Heart-acceuil {
  @include Attribut-size-bouton;
  left: 46%;
  top: 29%;
}

.Icon-Heart {
  position: absolute;
  font-size: 25px;
  color: $Color-primary;
  top: 0%;
  top: 0%;
  left: 0%;
}

.Icon-Heart-2 {
  position: absolute;
  font-size: 25px;
  color: $Color-primary;
  top: 0%;
  left: 0%;
  visibility: hidden;
  transform: scale(0);
}

.Heart-acceuil:hover, .Heart-page-restaurant:hover .Icon-Heart-2 {
  visibility: visible;
  transition: all 0.2s;
  transform: scale(1);
}

/////*******************************------------------------------------------Page des restaurant------------------------************************////////////////
.fleche-retour {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 4%;
}

.fa-arrow-left {
  color: black;
}

.size-Img-Entrée-plat-dessert {
  height: 1500px;
  width: 100%;
  position: relative;
}

.box-image-des-pages-restaurant {
  height: 25%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.Img-pages-restaurant {
  @include Position-Size-Image;
  border-radius: 0%;
}

.Img-la-note-enchante {
  object-position: center;
}

.Titre-des-restaurant {
  font-family: Shrikhand;
}

.Entree-plat-dessert {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 20%;
  background-color: white;
  border-radius: 45px 45px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Titre-icone-pages-restaurant {
  display: flex;
  height: 10%;
  font-size: 20px;
  width: 100%;
  margin-left: 10%;
}

.Heart-page-restaurant {
  @include Attribut-size-bouton;
  left: 36%;
  top: 27%;
}


////////////////////////////*********************************------------------------------------BTN RESTAURANT--------------------------***************************////////////////

.Box-Titre-entrée-plat-desserts {
  text-transform: uppercase;
  height: 10%;
  width: 87%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 16px;
}

.Entree-plat-dessert_Titre-et-icone-restaurant {
  width: 100%;
  height: 5%;
  @include flex-center;
  margin-top: 5%;
}

.Nom-location-Restaurant {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Titre-des-restaurant_contain-Btn-love {
  height: 100%;
  width: 25%;
  position: relative;
}

.titre-entree-plat-desserts {
  height: 87%;
  border-bottom: $Color-Tertiaire 3px solid;
  width: 11%;
}

.contain-btn-restaurant {
  @include flex-between-column-aligncenter;
  width: 100%;
  height: 25%;

  .btn-entree {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 1s;
  }

  .btn-plat {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 1.5s;
  }

  .btn-dessert {
    opacity: 0;
    animation: transition 1s ease-in-out 2s forwards;
    animation-delay: 2s;
  }
}

.Margin-btn-restaurant {
  margin-top: 10%;
}

.btn-entrée-plat-dessert {
  @include size-border-btn;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  cursor: pointer;
  transition: all 450ms;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
  }

  &:hover &_valide {
    display: block;
  }

  &:focus &_fa-circle-check {
    transform: rotate(0deg);
    transition: transform 1s;
  }

  &_valide {
    background-color: $Color-Tertiaire;
    height: 100%;
    display: none;
    width: 22%;
    color: white;
    animation: slid 500ms ease-in-out forwards;
  }

  &_icon-check {
    @include flex-center;
    @include width-height-max;
  }

  &_Nom-du-plat {
    white-space: nowrap;
    text-align: left;
    padding-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_commentaire-plat {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_prix-plat {
    margin-right: 1%;
  }
}

.fa-circle-check {
  font-size: 40px;
  transform: rotate(-360deg);
}

.btn-commander {
  @include Size-border-color-btn-principal;

  &:hover {
    box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
    background-image: linear-gradient(to bottom, $light-color-secondary, $light-color-primary);
  }
}

.lien-btn-commander {
  @include lien-btn-principal-size-font;

  //////////////*********************-------------------------------------  LOAD SPINNER  -------------------------------------------***********************///////////////////////////////
}

.header-acceuil, .main-acceuil, .footer-acceuil{
  animation: 2s blur;
  height: 100%;
  width: 100%;
}

.spin {
  height: 50px;
  width: 50px;
  position: fixed;
  border: solid 5px;
  border-radius: 50%;
  border-bottom-color: $Color-Tertiaire;
  border-top-color: $Color-primary;
  border-left-color: $Color-secondary;
  border-right-color: white;
  animation: 2s linear forwards spinner;
  top: 50%;
  left: 50%;

}
