.header {
    background-color: rgba(128, 128, 128, 0.192);
    height: 80px;
    padding-top: 2%;
}

.header__boxlogo {
    width: 20%;
}

.fonctionnement {
    margin-bottom: 2%;
    margin-top: 2%;
    height: 270px;
    align-items: center;
}

.fonctionnement__Titre {
    margin: 0%;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.fonctionnement__contain {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.fonctionnement__btn {
    width: 27%;
    height: 35%;
}

.Explore {
    height: 270px;
}

.Explore__boxtxt {
    width: 50%;
}

.restaurant {
    height: 850px;
}

.restaurant__titre {
    height: 9%;
    justify-content: center;
    margin: 0%;
    font-size: 35px;
}

.restaurant__card {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 42%;
    height: 44%;
}

.card__boximg {
    object-position: center;
}

.card__img {
    height: 100%;
}

/*---------------------------------------------------------------------------*/

.mainrestaurant {
    height: 1000px;
    background-color: rgba(128, 128, 128, 0.253);
}

.mainrestaurant__boximg {
    height: 48%;
}

.img-note-enchantee {
    object-position: center;
}

.selection__boxtitre {
    margin: 0%;
    position: absolute;
    top: 5%;
    width: 37%;
    left: 35%;
}

.selection__heartrestaurant {
    top: 0%;
}


.selection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 41%;
    height: 64%;
    width: 100%;
}

.menu {
    height: 60%;
    width: 32%;
}

.menu-margin {
    margin: 0%;
}

.btncommander {
    margin: 0%;
    position: absolute;
    bottom: 3%;
    width: 18%;
}

footer {
    height: 100%;
}

.footer {
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
    align-items: center;
    height: 200px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    margin: 2% 0% 2% 0%;
    width: 25%;
    text-align: center;
}