.header {
    background-color: rgba(128, 128, 128, 0.192);
    padding-top: 2%;
}

.header__boxlogo {
    width: 20%;
}

.fonctionnement {
    margin-bottom: 2%;
    margin-top: 2%;
    height: 270px;
    align-items: center;
}

.fonctionnement__Titre {
    margin: 0%;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.fonctionnement__contain {
    height: 65%;
    width: 30%;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}



.fonctionnement__btn {
    width: 27%;
    height: 44%;
}



.Explore__boxtxt {
    width: 30%;
}





.restaurant {
    height: 850px;
}

.restaurant__titre {
    height: 9%;
    justify-content: center;
    margin: 0%;
    font-size: 35px;
}

.restaurant__card {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 34%;
    height: 44%;
}

.card__boximg {
    object-position: center;
}


.btn-commander {
    position: absolute;
    bottom: 3%;
    width: 18%;
}





.Entree-plat-dessert {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 41%;
    height: 59%;
    width: 80%;
    left: 10%;


}

.contain-btn-restaurant {
    height: 60%;
    width: 32%;
}

.Titre-icone-pages-restaurant {
    margin-top: 4%;
    position: absolute;
    top: 0%;
}

.Titre-icone-pages-restaurant {
    margin: 0%;
    position: absolute;
    top: 5%;
    width: 37%;
    left: 35%;
}


.Heart-page-restaurant {
    top: 0%;
}

.box-image-des-pages-restaurant {
    height: 55%;
    overflow: hidden;
}

.Img-a-la-francaise {
    height: 135%;
}

.Img-la-palette-du-gout {
    height: 135%;

}

.Img-le-delice-des-sens {
    height: 125%;
}


.size-Img-Entrée-plat-dessert {
    height: 1000px;
    background-color: rgba(128, 128, 128, 0.253)
}

.Margin-btn-restaurant {
    margin: 0%;
}

.btn-commander {
    margin: 0%;
}

footer {
    height: 100%;
}

.footer {
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    margin: 2% 0% 2% 0%;
    width: 25%;
    text-align: center;
}