
    .restaurant {
        height: 1200px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.116);
    
        &__titre {
            height: 7%;
            display: flex;
            align-items: center;
            margin-left: 5%;
          }
          
          &__card {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          }}

          .card {
            height: 23%;
            width: 87%;
            background-color: white;
            border-radius: 15px;
            z-index: 1;
          
            &:hover {
              box-shadow: 0px 0px 23px 0px rgb(128, 128, 128);
            }
          
            &__boximg {
              height: 73%;
              position: relative;
            }
          
            &__img {
              @include Position-Size-Image;
          
              &--modifier {
                @include Position-Size-Image;
                object-position: 0% -125px;
              }
            }
          
            &__new {
              height: 26px;
              width: 73px;
              position: absolute;
              top: 10%;
              right: 4%;
              background-color: #99e2d0;
              @include flex-center;
              transform: scale(1);
            }
            .card__new:hover {
              transform: scale(1.3);
              transition: transform 0.5s ease-in-out;
            }
          
            &__textnew {
              margin: 0%;
              font-size: 12px;
              color: $darken-color-Tertiaire;
              font-weight: bolder;
            }
          
            &__boxtexte {
              height: 27%;
              display: flex;
            }
          
            &__texte {
              width: 69%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding-left: 4%;
              text-decoration: none;
              color: black;
            }
            &__titre {
              padding-bottom: 1.5%;
            }

            
          }

        .mainrestaurant {
            height: 1500px;
            width: 100%;
            position: relative;
          
            &__boximg {
              height: 25%;
              width: 100%;
              position: absolute;
              top: 0%;
            }
          
            &__img {
              @include Position-Size-Image;
              border-radius: 0%;
            }
          }

          .Explore {
            height: 300px;
            width: 100%;
            
          
            &__contain {
              @include Flex-start;
              @include width-height-max;
              background-color: rgba(128, 128, 128, 0.137);
            }
          
            &__boxtxt {
              @include text-color-center;
              @include flex-center;
              flex-direction: column;
              width: 75%;
              margin-top: 35px;
            }
          
            &__txt {
              margin: 0%;
            }
          
            &__citation {
              margin-bottom: 10%;
            }
          }

            
.selection {

    height: 80%;
    width: 100%;
    position: absolute;
    top: 20%;
    background-color: white;
    border-radius: 45px 45px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    &__nom {
      font-family: Shrikhand;
    }
    
    
      &__boxtitre {
        width: 100%;
        height: 5%;
        @include flex-center;
        margin-top: 5%;
      }
    }

    .menu {
        @include flex-between-column-aligncenter;
        width: 100%;
        height: 25%;
    
        &-margin {
          margin-top: 10%;
        }
    
        &__boxtitre {
          text-transform: uppercase;
          height: 10%;
          width: 87%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          margin-left: 16px;}
    
          &__titre {
            height: 87%;
            border-bottom: $Color-Tertiaire 3px solid;
            width: 11%;
          }}